{% extends "landing/base_landing.html" %}

{% block content_title %}
<div class="row">
	{% if user.is_authenticated %}
	<div class="span10">
      <h4 style="margin-left: 10pt;">Hello {{user.first_name}} {{user.last_name}}, its {{time}} </h4>
	</div>
	<div class="btn-group pull-right" style="margin-right: 30px">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> {{user.first_name}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/users/profile/">Profile</a></li>
          <li class="divider"></li>
          <li><a href="/logout/">Sign Out</a></li>
        </ul>
    </div>
	{% else %}
	<a href="/login/" class="btn" style="float: right; margin: 0 30px 0 0">Log in &raquo;</a> 
	{% endif %}
</div>  
{% endblock %}