<form id="{{id}}" action="{{next_action}}" method="post" class="well form-horizontal span12">
	{% csrf_token %}
	<fieldset>
	    {% for field in form %}
		       <div class="control-group">
					<label class="control-label" for="textarea">{{field.label_tag}}</label>
						<div class="controls">
							{{ field }}
							<span class="help-inline">{{ field.errors }}</span>
						</div>
		        </div>
		{% endfor %}
		<div class="form-actions">
			<button type="submit" class="btn btn-primary" style="margin-left: 160px">Submit</button>
		</div>
	</fieldset>
</form>