<h1>Peoplewings backend API</h1>

<h2>Prerequisites</h2>

<p>In order to work with this repo you will need the following tools installed in your system:</p>

<ul>
<li>Git</li>
<li>Python 2.7 &amp; Easy_install (optional just to install pip and other packages)</li>
<li>Pip (easy_install pip)</li>
<li>Virtual env 1.7+ (pip install virtualenv)</li>
<li><p>Foreman (gem install foreman)</p></li>
<li><p>PostgreSQL (optional just to test locally)</p></li>
<li>Heroku toolbelt (optional, highly recommended!)</li>
</ul>

<h2>Setup</h2>

<ul>
<li><p>Create a virtual environment with <em>virtualenv</em></p>

<p><code>$ virtualenv path/to/your/virtualenvs/virtual-env-name --distribute</code></p></li>
<li><p>Activate your virtual environment</p>

<p><code>$ source path/to/your/virtualenvs/virtual-env-name/bin/activate</code></p></li>
<li><p>Install requiriments using requirements.txt from this repo</p>

<p><code>$ pip install -r requiriments.txt</code></p></li>
<li><p>Start the gunicorn web server</p>

<p><code>$ foreman start</code></p></li>
</ul>

<p>Now you can open the application on 0.0.0.0:5000</p>

<p>Full reference can be found here:</p>

<ul>
<li>https://devcenter.heroku.com/articles/django</li>
<li>https://devcenter.heroku.com/articles/heroku-postgres-dev-plan</li>
<li>https://devcenter.heroku.com/articles/procfile</li>
<li>https://devcenter.heroku.com/articles/error-codes</li>
</ul>

<h2>API</h2>

<p>IMPORTANT!! All urls start with /api/v1/</p>

<p>There are some standard error messages:</p>

<ul>
<li>200 OK {"code": 411, "error": {"msg": "No JSON could be decoded"}, "status": false}</li>
<li>200 OK {"code": 412, "error": {"msg": "Method not allowed"}, "status": false}</li>
<li>200 OK {"code": 410, "error": {"errors": {"gender": ["This field is required."], "lastName": ["This field is required."]}, "msg": "Error in some fields"}, "status": false}</li>
</ul>

<h3>Register (Joan):</h3>

<ul>
<li>Request:
POST /newuser/
{"birthdayDay":5, "birthdayMonth":3, "birthdayYear":1999, "email":"joan@peoplewings.com", "repeatEmail":"joan@peoplewings.com", "firstName":"Ez", "gender":"Male", "lastName":"Pz", "password":"asdf"}</li>
<li>Response:
<ul><li>OK
<ul><li>200 OK {"code": 200, "data": {"email": "joan@peoplewings.com", "msg": "Account created"}, "status": true}</li></ul></li>
<li>NO
<ul><li>200 OK {"code": 400, "error": {"msg": "The email is already being used"}, "status": false}</li>
<li>200 OK {"code": 400, "error": {"msg": "Emails don't match"}, "status": false}</li></ul></li></ul></li>
</ul>

<h3>Activate (Joan):</h3>

<ul>
<li>Request:
POST /activation/
{"activationKey":"9286095aa048bf4c28369830520263d135f841d1"}</li>
<li>Response:
<ul><li>OK 
<ul><li>200 OK {"code": 200, "data": {"msg": "Account activated"}, "status": true}</li></ul></li>
<li>NO
<ul><li>200 OK {"code": 400, "error": {"msg": "The activation key has been already used"}, "status": false}</li>
<li>200 OK {"code": 400, "error": {"msg": "The activation key is not a valid key"}, "status": false}</li>
<li>200 OK {"code": 400, "error": {"msg": "The provided key has expired"}, "status": false}</li></ul></li></ul></li>
</ul>

<h3>Login (Joan):</h3>

<ul>
<li>Request:
/POST /auth/
 {username = "Joan", password = "asdfasdf"}</li>
<li>Response:
<ul><li>OK
<ul><li>200 OK {"code": 200, "data": {"msg": "Logged in", "x-auth-token": "88a04fa420dc2b3734be743e3f4dc0475d1eedf4a29b75330c4d971d11f3d898e14302d773bc5500"}, "status": true}</li></ul></li>
<li>NO
<ul><li>200 OK {"code": 400, "error": {"msg": "Username/password do not match any user in the system"}, "status": false}</li>
<li>200 OK {"code": 400, "error": {"msg": "Inactive user"}, "status": false}</li></ul></li></ul></li>
</ul>

<h3>Request Forgot password (Joan):</h3>

<ul>
<li>Request:
/POST /forgot/
{"email" = "joan@peoplewings.com"}</li>
<li>Response:
<ul><li>OK
<ul><li>200 OK {"code": 200, "data": {"msg": "Email sent"}, "status": true}</li></ul></li>
<li>NO 
<ul><li>200 OK {"code": 400, "error": {"msg": "Invalid email"}, "status": false}</li></ul></li></ul></li>
</ul>

<h3>Check if the resetPassword link is valid (Joan):</h3>

<ul>
<li>Request:
/GET /forgot/?forgotToken=f27c26f21835e557892970011450962c0331d712
{}</li>
<li>Response:
<ul><li>OK
<ul><li>200 OK {"code": 200, "data": {"msg": "The link is valid"}, "status": true}</li></ul></li>
<li>NO 
<ul><li>200 OK {"code": 400, "error": {"msg": "Not a key"}, "status": false}</li>
<li>200 OK {"code": 400, "error": {"msg": "The key has expired"}, "status": false}</li></ul></li></ul></li>
</ul>

<h3>Submit new password (Joan):</h3>

<ul>
<li>Request:
/POST /forgot/
{"forgotToken":"f27c26f21835e557892970011450962c0331d712", "newPassword":"qwerty"} </li>
<li>Response:
<ul><li>OK
<ul><li>200 OK {"code": 200, "data": {"msg": "Password changed"}, "status": true}</li></ul></li>
<li>NO 
<ul><li>200 OK {"code": 400, "error": {"msg": "Not a key"}, "status": false}</li>
<li>200 OK {"code": 400, "error": {"msg": "The key has expired"}, "status": false}</li></ul></li></ul></li>
</ul>

<h3>Logout (Joan):</h3>

<ul>
<li>Request:
/POST /noauth/
{}
X-AUTH-TOKEN:ada787d3684123f27382f53ef7485d42d95ef9aeede39e63de4bb81de3e91df61c2b66af9de50145</li>
<li>Response:
<ul><li>OK</li>
<li>200 OK {"code": 200, "data": {"msg": "Logout complete"}, "status": true}</li>
<li>NO</li>
<li>200 OK {"code": 400, "error": {"msg": "Can't logout"}, "status": false}</li></ul></li>
</ul>

<h3>View my account (Joan):</h3>

<ul>
<li>Request:
/GET /accounts/me
{}
X-AUTH-TOKEN:ada787d3684123f27382f53ef7485d42d95ef9aeede39e63de4bb81de3e91df61c2b66af9de50145</li>
<li>Response:
<ul><li>OK</li>
<li>200 OK {"code": 200, "data": {"email": "joan@peoplewings.com", "firstName": "Ez", "lastName": "Pz", "msg": "Account shown"}, "status": true}</li>
<li>NO </li></ul></li>
</ul>

<h3>Delete account (Joan):</h3>

<ul>
<li>Request:
/DELETE /accounts/me/
{}
X-AUTH-TOKEN:ada787d3684123f27382f53ef7485d42d95ef9aeede39e63de4bb81de3e91df61c2b66af9de50145</li>
<li>Response:
<ul><li>OK
<ul><li>204 NO CONTENT</li></ul></li>
<li>NO (Method not allowed and unauthorized)</li></ul></li>
</ul>

<h3>Update account (Joan):</h3>

<ul>
<li>Request:
/PUT /accounts/me/
{"email":"myemail@changed.com", "password":"changeme", "name":"NewName", "lastName":"lol"} All these fields are optional, you can always have 1 field or more
X-AUTH-TOKEN:ada787d3684123f27382f53ef7485d42d95ef9aeede39e63de4bb81de3e91df61c2b66af9de50145</li>
<li>Response:
<ul><li>OK
<ul><li>200 OK {"code": 202, "email": "fr33d4n@gmail.com", "firstName": "Johnny", "lastName": "Pz", "password": "qwerty", "status": true} It returns the modified object</li></ul></li>
<li>NO (Method not allowed and unauthorized)</li></ul></li>
</ul>

<h3>View a list of Profiles (Ezequiel):</h3>

<ul>
<li>Request:
/GET profiles/
"X-Auth-Token":"ada787d3684123f27382f53ef7485d42d95ef9aeede39e63de4bb81de3e91df61c2b66af9de50145"</li>
<li>Response:
<ul><li>OK
<ul><li>200 OK 
[
{"age": 22, "allAboutYou": "lalalal", ...},
{"age": 24, "allAboutYou": "lelelel", ...},
...
]</li></ul></li></ul></li>
</ul>

<h3>View my profile (Eze):</h3>

<ul>
<li>Request:
/GET profiles/me/
"X-Auth-Token":"ada787d3684123f27382f53ef7485d42d95ef9aeede39e63de4bb81de3e91df61c2b66af9de50145"</li>
<li>Response:
<ul><li>OK
<ul><li>200 OK 
{
"age": 22, "allAboutYou": "ASDF", "avatar": "ASDF", "birthday": "1990-02-01", "civilState": "",
"company": "", 
"current": 
{
  "city": "Barcelona",
  "country": "Spain",
  "region": "Catalonia"
},
"education": 
[
  {
    "degree": "Computer Science",
    "name": "University of Reading"
  },
  {
    "degree": "Artificial Intelligence",
    "name": "University of London"
  }
],
....
}</li></ul></li>
<li>NO
<ul><li>401 UNAUTHORIZED {"status":False, "code":"401", "error": "Unauthorized"}</li></ul></li></ul></li>
</ul>

<h3>Update my profile (Eze):</h3>

<ul>
<li><p>Request:
/POST profiles/me/
{"X-Auth-Token":"ada787d3684123f27382f53ef7485d42d95ef9aeede39e63de4bb81de3e91df61c2b66af9de50145"}
{
  "allAboutYou": "All about me", 
  "current": {"city": "Barcelona", "country": "Spain", "region": "Catalonia"}, 
  "education": 
    [
      {"degree": "Computer Science", "name": "University of Reading"}, 
      {"degree": "Artificial Intelligence", "name": "University of London"}
    ], 
  "hometown": {"city": "Bilbao",  "country": "Spain", "region": "Pais Vasco"},
  "instantMessages": 
    [
      {"name": "Skype", "username": "My IM Username"}, 
      {"name": "Whatsapp", "username": "My IM Username 2"}
    ], 
  "languages": 
    [
      {"level": "Expert", "name": "English"}, 
      {"level": "Beginner", "name": "Spanish"}
    ],
  "otherLocations": 
  [
    {"city": "Barcelona", "country": "Spain", "region": "Catalunya"}, 
    {"city": "Madrid", "country": "Spain", "region": "Madrid"}, 
    {"city": "Alava", "country": "Spain", "region": "Pais Vasco"}
  ], 
  "socialNetworks": 
  [
    {"name": "Facebook", "username": "Facebook Username"}, 
    {"name": "Twitter", "username": "Twitter Username"}
  ]
}</p></li>
<li><p>Response:</p>

<ul><li>OK
<ul><li>202 Accepted {"code": 204, "data": "Updated", "status": true}</li></ul></li>
<li>NO
<ul><li>401 UNAUTHORIZED {"status":False, "code":"401", "error": "Unauthorized"}</li></ul></li></ul></li>
</ul>

<h3>View another profile (Eze):</h3>

<ul>
<li>Request:
/GET profiles/17/
{"X-AUTH-TOKEN":"c442e716a18f780212b378810b9cd52b4e3f1774ba79dd19b33a30d3b0efcc032b3669e3da30658c"} </li>
<li><p>Response:</p>

<ul><li><p>OK</p>

<ul><li>200 OK 
{
"age": 24, "allAboutYou": "ASDF", "avatar": "ASDF", "birthday": "1988-02-01", "civilState": "",
"company": "", 
"current": 
{
"city": "Barcelona",
"country": "Spain",
"region": "Catalonia"
},
"education": 
[
{
  "degree": "Philosophy",
  "name": "Universidad de Madrid"
}
],
....
}</li></ul></li>
<li><p>NO</p>

<ul><li>401 UNAUTHORIZED {"status":False, "code":"401", "error": "Unauthorized"}</li></ul></li></ul></li>
</ul>

<h3>Upload image (Joan) (W8 Sergi):</h3>

<h3>Crop image (Joan) (W8 Sergi):</h3>

<h3>View my accomodations (Joan):</h3>

<ul>
<li>Request:
/GET /profiles/me/accomodations/
{"X-AUTH-TOKEN":"c442e716a18f780212b378810b9cd52b4e3f1774ba79dd19b33a30d3b0efcc032b3669e3da30658c"} </li>
<li>Response:
<ul><li>OK
<ul><li>200 OK
[
{
"about": "",
"additionalInformation": "",
"address": "",
...
},
{
"about": "",
"additionalInformation": "",
"address": "",
....
},
{
"about": "",
"additionalInformation": "",
"address": "",
...
}
]</li></ul></li>
<li>NO 
<ul><li>400 BAD REQUEST {"code": 777, "errors": "Invalid link", "status": false}</li>
<li>400 BAD REQUEST {"code": 777, "errors": {"forgotToken": ["This field is required"]}, "status": false}</li>
<li>400 BAD REQUEST {"code": 777, "errors": {"params": ["Bad parameters"]}, "status": false}</li></ul></li></ul></li>
</ul>

<h3>View one of my accomodations (Eze):</h3>

<ul>
<li>Request:
/GET /profiles/me/accomodations/20/
{"X-AUTH-TOKEN":"c442e716a18f780212b378810b9cd52b4e3f1774ba79dd19b33a30d3b0efcc032b3669e3da30658c"} </li>
<li>Response:
<ul><li>200 OK
{
"about": "",
"additionalInformation": "",
"address": "",
...
}</li>
<li>NO 
<ul><li>400 BAD REQUEST {"code": 777, "errors": {"forgotToken": ["This field is required"]}, "status": false}</li></ul></li></ul></li>
</ul>

<h3>View an accomodation of another user (Eze):</h3>

<ul>
<li>Request:
/GET /profiles/17/accomodations/20/
{"X-AUTH-TOKEN":"c442e716a18f780212b378810b9cd52b4e3f1774ba79dd19b33a30d3b0efcc032b3669e3da30658c"} </li>
<li>Response:
<ul><li>200 OK
{
"about": "",
"additionalInformation": "",
"address": "",
...
}</li>
<li>NO 
<ul><li>400 BAD REQUEST {"code": 777, "errors": {"forgotToken": ["This field is required"]}, "status": false}</li>
<li>400 BAD REQUEST {"code": 777, "errors": "Unauthorized", "status": false}</li></ul></li></ul></li>
</ul>

<h3>Create Accomodation (Eze):</h3>

<ul>
<li><p>Request:
/POST /profiles/me/accomodations/
{"X-AUTH-TOKEN":"c442e716a18f780212b378810b9cd52b4e3f1774ba79dd19b33a30d3b0efcc032b3669e3da30658c"} 
{
  "about": "",
  "additionalInformation": "",
  "address": "",
  ...
}</p></li>
<li><p>Response:</p>

<ul><li><p>200 CREATED {"code": 204, "data": "Updated", "status": true}</p></li>
<li><p>NO </p>

<ul><li>400 BAD REQUEST {"code": 777, "errors": {"forgotToken": ["This field is required"]}, "status": false}</li>
<li>400 BAD REQUEST {"code": 777, "errors": "Unauthorized", "status": false}</li></ul></li></ul></li>
</ul>

<h3>Update accomodation (Eze):</h3>

<ul>
<li><p>Request:
/POST /profiles/me/accomodations/20/
{"X-AUTH-TOKEN":"c442e716a18f780212b378810b9cd52b4e3f1774ba79dd19b33a30d3b0efcc032b3669e3da30658c"} 
{
  "about": "",
  "additionalInformation": "",
  "address": "",
  ...
}</p></li>
<li><p>Response:</p>

<ul><li><p>204 NO CONTENT {"code": 204, "data": "Updated", "status": true}</p></li>
<li><p>NO </p>

<ul><li>400 BAD REQUEST {"code": 777, "errors": {"forgotToken": ["This field is required"]}, "status": false}</li></ul></li></ul></li>
</ul>

<h3>Delete accomodation (Eze):</h3>

<ul>
<li>Request:
/DELETE /profiles/me/accomodations/20/
{"X-AUTH-TOKEN":"c442e716a18f780212b378810b9cd52b4e3f1774ba79dd19b33a30d3b0efcc032b3669e3da30658c"} </li>
<li><p>Response:</p>

<ul><li><p>204 NO CONTENT {"code": 204, "data": "Wing deleted", "status": true}</p></li>
<li><p>NO </p>

<ul><li>400 BAD REQUEST {"code": 777, "errors": {"forgotToken": ["This field is required"]}, "status": false}</li></ul></li></ul></li>
</ul>

<h3>Search wings (undefined):</h3>

<h3>Needed environment variables</h3>


