{% extends "people/base_people.html" %}

            
{% block content %}
{% include "general/custom_form.html" with next_action=. %}
{% if results %}
<div class="well span12">
{% for p in results %}
                
                    <p class="span8">
                        {{p.name_to_show}}, {{p.age}}, {{p.gender}}
                    </p>
                
            {% endfor %}
            </div>
            {% endif %}
{% endblock %}

{% block page_scripting %}
<script>
    $(document).ready(function(){
        console.log('Hey search')
        var options = {
            types: ['(cities)'], 
        };
        var addr = document.getElementById("id_city");
        var auto_addr = new google.maps.places.Autocomplete(addr, options);
        
        $("#id_city").keypress(function(event) {
            if ( event.which == 13 ) {
                    event.preventDefault();
                }
        })
        
        google.maps.event.addListener(auto_addr, 'place_changed',   function() {
            var place = auto_addr.getPlace();
            var cc = getCityAndCountry(place.address_components)
            console.dir(cc)
            setHiddenInputs('foo', cc.city, cc.country, place.id)
        });
        
        function setHiddenInputs(field, city, country, id){
            console.log('Data: ' + city + ', ' + country + ', ' + id)
            $('#id_city_name').val(city)
            //$('#id_city_country').val(country)
            //$('#id_city_place_id').val(id)
        }
        
        function getCityAndCountry(address_components){
            var data = { id: address_components.id }
            var l = address_components.length
            for (var i = 0; i < l; i++){
                if (address_components[i].types[0] === 'locality') {
                    data.city = address_components[i].long_name
                }
                else if (address_components[i].types[0] === 'country') {
                    data.country = address_components[i].long_name
                }
            }
            return data
        }
})
    </script>
{% endblock %}