{% extends "people/base_people.html" %}
{% block content_title %}
<div class="subnav span12">
    <ul class="nav nav-pills">
      <li><a href="../basic">Basic info</a></li>
	  <li><a href="../location">Location</a></li>
      <li class="active"><a href="#">About me</a></li>
      <li><a href="../likes">Likes</a></li>
      <li><a href="../contact">Contact info</a></li>
      <li><a href="../travels">Travels</a></li>
    </ul>
  </div>
{% endblock %}

{% block content %}

<div>
    <div class="entry">
        <form id="my-form" method="post" action="" class="well form-horizontal span12">
            {% csrf_token %}
			{{ formset1.management_form }}
			{% for form in formset1 %}

					{% include "general/custom_fieldset.html" with errors=formset1.non_form_errors %}
            
	        {% endfor %}
	        {{ formset2.management_form }}
	        {% for form in formset2 %}

					{% include "general/custom_fieldset.html" with errors=formset2.non_form_errors %}
            
	        {% endfor %}
	        {{ formset3.management_form }}
	        {% for form in formset3 %}

					{% include "general/custom_fieldset.html" with errors=formset3.non_form_errors %}
            
	        {% endfor %}
		<div class="form-actions">
			<button type="reset" class="btn" style="margin-left: 160px">Cancel</button>
			<button type="submit" class="btn btn-primary" style="margin-left: 160px">Submit</button>
		</div>
        </form>
    </div>
</div>

{% endblock %}
{% block page_scripting %}
	<script type="text/javascript">
           $(function() {
           	console.log('Hello JS again')
               $('#my-form > fieldset[id^=edu-]').formset({'prefix': '{{ formset2.prefix }}'});
			    $('.foo').typeahead({
					ajax: {
					        url: "/ajax/search/university/",
					        timeout: 500,
					        //displayField: "name",
					        triggerLength: 1,
					        method: "get",
					        //loadingClass: "loading-circle",
					        preDispatch: function (query) {
					            //showLoadingMask(true);
					            return {
					                q: query,
					                otherParam: 123
					            }
					        },
					        preProcess: function (data) {
					            //showLoadingMask(false);
					            if (data.code !== 200) {
					                return false;
					            }
					            return data.data;
								
					        }
					    }})

           })
    </script>
{% endblock %}