{% extends "base.html" %}

{% block extra_styles %}
	<style type="text/css">
	  body { padding: 40px 0 40px 0; }
	  #body { padding-top: 20px;}
	</style>
{% endblock %}

{% block headbar %}	
   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Peoplewings</a>
        {% block dropdown %}
		{% if user.is_authenticated %}
		<div class="btn-group pull-right">
		    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		      <i class="icon-user"></i> {{user.first_name}}
		      <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
		      <li><a href="/users/profile/">Profile</a></li>
		      <li class="divider"></li>
		      <li><a href="/logout/">Log Out</a></li>
		    </ul>
		  </div>
		{% endif %}
		{% endblock %}
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Search</a></li>
              <li><a href="#">Messages</a></li>
              <li><a href="/users/profile/">Profile</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block content_title %}
<div class="subnav span12">
    <ul class="nav nav-pills">
      <li class="active"><a href="#labels">Basic info</a></li>
	  <li><a href="#location">Location</a></li>
      <li><a href="#about">About me</a></li>
      <li><a href="#likes">Likes</a></li>
      <li><a href="#contact">Contact info</a></li>
      <li><a href="#travels">Travels</a></li>
    </ul>
  </div>
{% endblock %}