{% extends "people/base_people.html" %}
{% block content_title %}
<div class="subnav span12">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Basic info</a></li>
	  <li><a href="../location">Location</a></li>
      <li><a href="../about">About me</a></li>
      <li><a href="../likes">Likes</a></li>
      <li><a href="../contact">Contact info</a></li>
      <li><a href="../travels">Travels</a></li>
    </ul>
  </div>
{% endblock %}
{% load static from staticfiles %}
{% block content %}

<div>
    <div class="entry">
        <form id="my-form" method="post" action="" class="well form-horizontal span8">
            {% csrf_token %}
			{{ formset.management_form }}
			{% for form in formset %}

					{% include "general/custom_fieldset.html" %}
            
	        {% endfor %}
			{{ langset.management_form }}
			{% for form in langset %}

					{% include "general/custom_fieldset.html" with errors=langset.non_form_errors %}
            
	        {% endfor %}
		<div class="form-actions">
			<button type="reset" class="btn" style="margin-left: 160px">Cancel</button>
			<button type="submit" class="btn btn-primary" style="margin-left: 160px">Submit</button>
		</div>
        </form>
		<ul class="thumbnails">
            <li class="span4">
              <a href="#" class="thumbnail">
                <img id="avatar" src="/media/{{ profile_id }}/avatar.jpg" onerror='this.onerror = null; this.src="/media/blank_avatar.gif"' alt="">
			    <div class="progress progress-striped"  style="margin-top:10px;display:none;">
  					<div class="bar" style="width: 0%;"></div>
			  	</div>
              </a>
            </li>
            <li class="span4">
				<form id="file-form" method="post" action="" enctype="multipart/form-data">
				<input class="span4" type="file" id="upload" name="files[]" />
				<output id="list"></output>
				</form>
			</li>
			<li class="span2">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/160x120" alt="">
              </a>
            </li>
			<li class="span2">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/160x120" alt="">
              </a>
            </li>
          </ul>
    </div>
</div>
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal" data-target="#myModal">Launch demo modal</a>
 
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Crop image</h3>
  </div>
  <div class="modal-body">
    <p>Crop the image you uploaded for your avatar</p>
   
	<img id="cropbox" style="width:560px; height:430px" src="" alt="">
	
<form id="coords" class="coords" onsubmit="return false;" action="http://example.com/post.php">

      <div>
      <label>X1 <input type="text" size="4" id="x1" name="x1"></label>
      <label>Y1 <input type="text" size="4" id="y1" name="y1"></label>
      <label>X2 <input type="text" size="4" id="x2" name="x2"></label>
      <label>Y2 <input type="text" size="4" id="y2" name="y2"></label>
      <label>W <input type="text" size="4" id="w" name="w"></label>
      <label>H <input type="text" size="4" id="h" name="h"></label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>

{% endblock %}

{% block page_scripting %}
	<script type="text/javascript">
           $(function() {
               $('#my-form > fieldset[id^=lang]').formset({'prefix': '{{ langset.prefix }}'});

			   $('#upload').css("visibility", "hidden");
			   $('a.thumbnail').click(function(e){
   					e.preventDefault();
    				$('#upload').trigger('click');  
				});
		
				if (window.File && window.FileReader && window.FileList && window.Blob) {
  					function handleFileSelect(evt) {
    					var files = evt.target.files; // FileList object
					    // files is a FileList of File objects. List some properties.
					    var output = [];
					    /*if (files[0].size > 500000){
							alert('Maximum image size allowed is 0.5 Mb')
							return
						} */
						console.dir(files[0])
					    for (var i = 0, f; f = files[i]; i++) {
					      output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
					                  f.size, ' bytes, last modified: ',
					                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
					                  '</li>');
					    }
					    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
					    uploadFile(evt.target.files[0])
					  }

					  document.getElementById('upload').addEventListener('change', handleFileSelect, false);
				} else {
  					alert('The File APIs are not fully supported in this browser.');
				}
				function uploadFile(file) {
					
	       			var fd = new FormData();
				    fd.append("fileToUpload", file);
					//fd.append("csrfmiddlewaretoken", $("input[name=csrfmiddlewaretoken]").attr('value'))
					fd.append("uid", '{{ profile_id }}')
					fd.append("is_avatar", false)
				    var xhr = new XMLHttpRequest();
				    xhr.upload.addEventListener("progress", uploadProgress, false);
				    xhr.addEventListener("load", uploadComplete, false);
				    xhr.addEventListener("error", uploadFailed, false);
				    xhr.addEventListener("abort", uploadCanceled, false);
				    xhr.open("POST", "/ajax/upload/image/");
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
					$('.progress').show()
				    xhr.send(fd);
			    }
				function uploadProgress(evt) {
			        if (evt.lengthComputable) {
			          var percentComplete = Math.round(evt.loaded * 100 / evt.total);
			
			          $('.progress > .bar').attr( { "style": "width:" + percentComplete.toString() + "%" });
			        }
			        else {
			          document.getElementById('progressNumber').innerHTML = 'unable to compute';
			        }
			      }
				  //PW.cookies.getCookie()
			      function uploadComplete(evt) {
			        /* This event is raised when the server send back a response */
			         //$(document).innerHTML = evt.target.responseText
			        var data = $.parseJSON(evt.target.response)
					console.dir(data)
					$('.progress').hide()
					$('.modal-body img').attr("src", "/media/{{ profile_id }}/" + data.avatar + '.' + data.extension)
					
					$('#myModal').modal('show')
					$('#cropbox').Jcrop({
        				onChange:   showCoords,
				        onSelect:   showCoords,
				        onRelease:  clearCoords
				    });	
			      }

			      function uploadFailed(evt) {
			        alert("There was an error attempting to upload the file.");
			      }

			      function uploadCanceled(evt) {
			        alert("The upload has been canceled by the user or the browser dropped the connection.");
			      }
				function getCookie(name) {
			        var cookieValue = null;
			        if (document.cookie && document.cookie != '') {
			            var cookies = document.cookie.split(';');
			            for (var i = 0; i < cookies.length; i++) {
			                var cookie = $.trim(cookies[i]);
			                // Does this cookie string begin with the name we want?
			                if (cookie.substring(0, name.length + 1) == (name + '=')) {
			                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			                    break;
			                }
			            }
			        }
			        return cookieValue;
			    }
			  function showCoords(c)
			    {
			      $('#x1').val(c.x);
			      $('#y1').val(c.y);
			      $('#x2').val(c.x2);
			      $('#y2').val(c.y2);
			      $('#w').val(c.w);
			      $('#h').val(c.h);
			    };

			    function clearCoords()
			    {
			      $('#coords input').val('');
			    };
           })
    </script>
{% endblock %}