{% extends "people/base_people.html" %}

{% block content %}

<div>
    <div class="entry">
        <form id="my-form" method="post" action="" class="well form-horizontal span12">
            {% csrf_token %}
			{{ formset1.management_form }}
			{% for form in formset1 %}

					{% include "general/custom_fieldset.html" %}
            
	        {% endfor %}
	        {{ formset2.management_form }}
	        {% for form in formset2 %}

					{% include "general/custom_fieldset.html" %}
            
	        {% endfor %}
	        {{ formset3.management_form }}
	        {% for form in formset3 %}

					{% include "general/custom_fieldset.html" %}
            
	        {% endfor %}
		<div class="form-actions">
			<button type="submit" class="btn btn-primary" style="margin-left: 160px">Submit</button>
		</div>
        </form>
    </div>
</div>

{% endblock %}