{% extends "people/base_people.html" %}

{% block body %}

{% block content_title %}
<div class="well span2" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="active"><a href="#"><i class="icon-user icon-white"></i> Basic info</a></li>
          <li><a href="#"><i class="icon-camera"></i> Profile pictures</a></li>
          <li><a href="#"><i class="i"></i> Wings</a></li>
		  <li><a href="#"><i class="i"></i> Privacy</a></li>
        </ul>
      </div>
{% endblock %}

{% include "general/custom_form.html" with next_action=nextAction %}

{% endblock %}

{% block page_scripting %}
<script>
  	$(document).ready(function(){
	    console.log('Hello JS again')
	    $('.foo').typeahead({
			ajax: {
			        url: "/ajax/search/university/",
			        timeout: 500,
			        //displayField: "name",
			        triggerLength: 1,
			        method: "get",
			        //loadingClass: "loading-circle",
			        preDispatch: function (query) {
			            //showLoadingMask(true);
			            return {
			                q: query,
			                otherParam: 123
			            }
			        },
			        preProcess: function (data) {
			            //showLoadingMask(false);
			            if (data.code !== 200) {
			                return false;
			            }
			            return data.data;
						
			        }
			    }})
	  });
</script>
{% endblock %}