{% extends "people/base_people.html" %}
{% block content_title %}
<div class="subnav span12">
    <ul class="nav nav-pills">
      <li><a href="../basic">Basic info</a></li>
	  <li><a href="../location">Location</a></li>
      <li><a href="../about">About me</a></li>
      <li class="active"><a href="#">Likes</a></li>
      <li><a href="../contact">Contact info</a></li>
      <li><a href="../travels">Travels</a></li>
    </ul>
  </div>
{% endblock %}
{% block content %}

{% include "general/custom_form.html" with next_action=nextAction %}

{% endblock %}