{% extends "people/base_people.html" %}
{% block content_title %}
<div class="subnav span12">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Basic info</a></li>
	  <li><a href="../location">Location</a></li>
      <li><a href="../about">About me</a></li>
      <li><a href="../likes">Likes</a></li>
      <li><a href="../contact">Contact info</a></li>
      <li><a href="../travels">Travels</a></li>
    </ul>
  </div>
{% endblock %}
{% block content %}

<div>
    <div class="entry">
        <form id="my-form" method="post" action="" class="well form-horizontal span12">
            {% csrf_token %}
			{{ formset1.management_form }}
			{% for form in formset1 %}

					{% include "general/custom_fieldset.html" %}
            
	        {% endfor %}
		<div class="form-actions">
			<button type="submit" class="btn btn-primary" style="margin-left: 160px">Submit</button>
		</div>
        </form>
    </div>
</div>

{% endblock %}

{% block page_scripting %}
<script>
  	$(document).ready(function(){
	    console.log('Hello JS again you')
	    $('.hometown').typeahead({
			ajax: {
			        url: "https://maps.googleapis.com/maps/api/place/autocomplete/json",
			        timeout: 500,
			        //displayField: "name",
			        triggerLength: 1,
			        method: "get",
			        //loadingClass: "loading-circle",
			        preDispatch: function (query) {
			            //showLoadingMask(true);
			            return {
			                input: query,
							sensor: false,
			                key: 'AIzaSyABBKjubUcAk69Kijktx-s0jcNL1cIjZ98'
			            }
			        },
			        preProcess: function (data) {
			            //showLoadingMask(false);
						console.dir(data)
			            if (data.status !== "OK") {
			                return false;
			            }
						preds = []
						for (prediction in data.predictions){
							preds.push(prediction.description)
						}
						console.dir(preds)
			            return preds;
						
			        }
			    }})
	  });
</script>
{% endblock %}