{% extends "people/base_people.html" %}

{% block body %}
<table class="table table-striped table-bordered span12">
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Gender</td>
      <td>{{profile.gender}}</td>
    </tr>
	<tr>
      <td>Birthday</td>
      <td>{{profile.birthday}}</td>
    </tr>
	<tr>
      <td>Age</td>
      <td>{{profile.age}}</td>
    </tr>
	<tr>
      <td>Interested in</td>
      <td>{{profile.interested_in}}</td>
    </tr>
	<tr>
      <td>Civil state</td>
      <td>{{profile.civil_state}}</td>
    </tr>
   <tr>
      <td>Show birthday</td>
      <td>{{profile.show_birthday}}</td>
    </tr>
	<tr>
      <td>Languages</td>
      <td>{{profile.languages}}</td>
    </tr>
	<tr>
      <td>City (Origin)</td>
      <td>{{profile.city}}</td>
    </tr>
	<tr>
      <td>All about you</td>
      <td>{{profile.all_about_you}}</td>
    </tr>
	<tr>
      <td>Universities</td>
      <td>{{profile.universities}}</td>
    </tr>
  </tbody>
</table>
<div class="well span4">
<p>	<a href="../profile/edit/basic"> Basic Profile </a> </p>
<p> <a href="../profile/edit/"> Edit your profile </a></p>
<p> <a href="../account/"> View your account settings </a></p>
<p> <a href="../../logout/"> Logout </a></p>
<p>	<a href="../delete/"> Delete Account </a> </p>
</div>
{% endblock %}