{% extends "base.html" %}

{% block dropdown %}
{% if user.is_authenticated %}
<div class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-user"></i> {{user.first_name}}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/users/profile/">Profile</a></li>
      <li class="divider"></li>
      <li><a href="/logout/">Log Out</a></li>
    </ul>
  </div>
{% endif %}
{% endblock %}

{% block body %}

{% for field_name, value in form.data %}
    {{field_name}}: {{value}}
{% endfor %}

<br/>
<br/>
<p> <a href="../profile/edit/"> Edit your profile </a></p>
<p> <a href="../account/"> View your account settings </a></p>
<p> <a href="../../logout/"> Logout </a></p>
<p>	<a href="../delete/"> Delete Account </a> </p>
{% endblock %}