{% extends "people/base_people.html" %}
{% block content_title %}
<div class="subnav span12">
    <ul class="nav nav-pills">
      <li><a href="../basic">Basic info</a></li>
	  <li><a href="../location">Location</a></li>
      <li class="active"><a href="#">About me</a></li>
      <li><a href="../likes">Likes</a></li>
      <li><a href="../contact">Contact info</a></li>
      <li><a href="../travels">Travels</a></li>
    </ul>
  </div>
{% endblock %}

{% block content %}

<form id="file-form" method="post" action="" enctype="multipart/form-data">
					{% csrf_token %}
				
				{{avatar_form.as_p}}
				<button type="submit" class="btn btn-primary" style="margin-left: 160px">Submit</button>
				</form>

{% endblock %}